body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

header,
.section-two,
.section-three,
footer {
  display: flex;
}

header,
footer {
  background-color: #1f2937;
}

.section-two {
  background-color: #e5e7eb;
}

/* HEADER */

header {
  justify-content: space-evenly;
  flex-direction: column;
  padding: 50px 50px;
}

.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-logo,
.main-text {
  color: #f9faf8;
}

.header-logo {
  font-size: 24px;
  padding-left: 50px;
}

.header-links,
.secondary-text {
  color: #e5e7eb;
  font-size: 18px;
}

.header-links {
  justify-content: space-between;
  display: flex;
}

.header-links li {
  list-style: none;
  padding: 10px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
}

.header-bottom li {
  list-style: none;
  padding-top: 10px;
}

.header-bottom-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.header-bottom-right {
  background-color: grey;
  display: flex;
  align-items: center;
  padding: 20px 50px;
}

.header-bottom-right p {
  color: #f9faf8;
  padding: 20px 70px;
}

.main-text {
  font-size: 48px;
  font-weight: bold;
}

.button {
  border: none;
  border-radius: 6px;
  color: #f9faf8;
  background-color: #3882f6;
  padding: 5px 10px;
}

/* SECTION ONE */

.section-one {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-header-text {
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}

.section-one-cards {
  display: flex;
}

.card {
  padding: 50px;
  text-align: center;
}

.card-image {
  border: #3882f6 2px solid;
  border-radius: 6px;
  padding: 100px 20px;
}

/* SECTION TWO */

.section-two {
  padding: 50px 100px;
}

.section-two-quote {
  padding: 50px;
}

.quote {
  font-size: 36px;
  font-style: italic;
}

.author {
  font-size: 18px;
  text-align: right;
}


/* SECTION THREE */

.section-three {
  justify-content: center;
  padding: 50px 100px;
  font-size: 18px;
}

.section-three-main {
  background-color: #3882f6;
  color: #f9faf8;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 100px;
  border-radius: 6px;
}

.section-three-left,
.section-three-right {
  padding: 20px;
}

.section-three .button {
  border: #f9faf8 2px solid;
  border-radius: 6px;
  color: #f9faf8;
  padding: 5px 10px;
}

/* FOOTER */
footer {
  color: #f9faf8;
  /* font-size: 18px; */
  justify-content: center;
}